header{
    display: flex;
    justify-content: space-between;


}

ul{
    display:flex;
    justify-content:space-evenly;
    list-style-type:none;
    
}
nav{
    width:60vw;

}
.container{
    display:flex;
}

.container>div{
    text-align:center;
}

footer{
    color:white;
   text-align:center;
    background-color: black;
    height:4rem;
}